@model ModelDemo.Models.Product
<html>
    <head>
        <title>Product Details</title>
     </head>
     <body>
         <h3>Product Details:@Model.ProductName</h3>
         <div>Id:@Model.ProductId</div>
         <div>Category:@Model.ProductCategory</div>
         <div>List Price:@Model.ListPrice</div>
       
      </body>
</html>